.button-color{
    background: none;
}

.profile-image{
    width: 28vmin;
    height: 28vmin;
    border-radius: 50%;
    
}

.home-button:hover{
    padding-bottom: 10px;
    
    border-bottom: 2px solid rgb(11, 72, 239);

}

.uplaod-button{
    background: none;
}


.loader {
        width: 64px;
        height: 64px;
        position: relative;
        background-image:
          linear-gradient(#0015ff 16px, transparent 0) ,
          linear-gradient(#FF3D00 16px, transparent 0) ,
          linear-gradient(#33ff00 16px, transparent 0) ,
          linear-gradient(#fffb00 16px, transparent 0);
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: left top , left bottom , right top , right bottom;
        animation: rotate 1s linear infinite;
      }
      @keyframes rotate {
        0% {
          width: 64px;
          height: 64px;
          transform: rotate(0deg)
        }
        50% {
          width: 30px;
          height: 30px;
          transform: rotate(180deg)
        }
        100% {
          width: 64px;
          height: 64px;
          transform: rotate(360deg)
        }
      }
  
      /*-----------------------  */
      .videoloader {
        width: 96px;
        box-sizing: content-box;
        height: 48px;
        background: #FFF;
        border-color: #de3500;
        border-style: solid;
        border-width: 2px 2px 50px 2px;
        border-radius: 100%;
        position: relative;
        animation: 3s yinYang linear infinite;
      }
      .videoloader:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        background: #FFF;
        border: 18px solid #de3500;
        border-radius: 100%;
        width: 12px;
        height: 12px;
        box-sizing: content-box;
      }
      .videoloader:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        background: #de3500;
        border: 18px solid #FFF;
        border-radius: 100%;
        width: 12px;
        height: 12px;
        box-sizing: content-box;
      }
      @keyframes yinYang {
        100%{transform: rotate(360deg)}
      }